$color-text-menu: rgb(1, 7, 66);
$color-white: #fff;
$color-menu: #eb0303;
$color-text-primary: rgb(80, 80, 80);
$color-text-title: #eb0303;
$color-text-card: #333;
$color-background: #2a2a2a;

$button-color:  rgb(203, 150, 253);
$button-hover:  rgb(147, 85, 206);